*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
#navbar{
    padding: 0.5rem 3rem;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo img{
    width:100px;
}
#navbar-links{
    display: flex;
    gap: 2rem;
    text-transform: uppercase;
}
#navbar-links a{
    text-decoration: none;
    color: #fff;
}
#navbar-links li{
    list-style: none;
}
.main-banner{
    background-image: url(../img/banner-II.webp);
    background-size: cover;
    background-position: center;
    padding: 14rem 0;
}
.main-banner p{
    font-size: 22px;
    margin-left: 15px;
    font-weight: bold;
}
.main-banner span{
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
}
#sobre{
    background-color: #eee; 
}
#sobre h2{
    color: #333;
    text-align:center;
    margin-top: 2rem;
    padding: 0.5rem;
}
.line{
    border: 1px solid #333;
    width: 100px;
    margin: auto;
}
.equipe p{
    flex-direction: column;
    color: #333;
    text-align: justify;
    margin-top: 50px;
    width: 40%;
    word-spacing: normal;
    line-height: 1.6em;
}
.equipe{
    display: flex;
    gap: 1rem;
}
#perfil-equipe img{
    width: 520px;
    height: 300px;
    margin: 3rem;
}

/***MENBROS****/
.perfil{
    display: flex;
}
.perfil-membros{
    background-color: #333;
}
.perfil-membros h2{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}
#linha{
    border: 1px solid #fff;
    width: 150px;
    margin: auto;
    margin-top: -8px;
}
#perfil-julio img{
    width: 520px;
    height: 300px;
    margin: 3rem;
}
#perfil-advogada img{
    width: 520px;
    height: 300px;
    margin: 3rem;
}
#description p{
    text-align: justify;
    margin-top: 118px;
    font-size: 15px;
    color: #fff; 
    word-spacing: normal;
    line-height: 1.6em;
    width: 90%;
}
#description span{
    color: #fff;
    font-size: 20px;
}

/***ATUACAÇÃO****/
#atuacao-container{
    background-color: #eee;
}
#atuacao{
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 3rem;
    gap: 3rem;
}
#atuacao-container h2{
    color: #333;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
    padding: 1rem;
}
#area-atuacao{
    background-color: #eee;
    width: 90%;
}
#processo-penal,
#processo-adm,
#processo-divorcio{
    text-align: center;
    margin-bottom: 20px;
}
#processo-penal img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
}
#processo-adm img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
#processo-divorcio img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.information p{
    text-align: justify;
    line-height: 1.6em;
    white-space: normal; 
}
/******FORMULARIO*********/
.contato-container{
    background-color: #333;
    text-align: center;
    padding: 1.5rem 0 2rem 0;
}
.contato h2{
    color: #fff;
    padding: 1rem;
}
#contato-form{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}
#contato-form label{
    color: #fff;
    font-size: 16px;
    
}
.contato p{
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.contato input{
    width: 470px;
    padding: 8px 40px;
    background-color: #eee;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}
#contato-form textarea{
    display: block;
    margin: 0 auto 5px;
    width: 470px;
    height: 150px;
    border-radius: 5px;
    background-color: #eee;
}
.contato-container input[type="submit"]{
    width: 200px;
    padding: 10px 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}